<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">

</head>

<body>
{% if num == 0 %}
    <div class="login_box">
        <img src="static/icon_smth_idk-removebg-preview.png" style="height: 90px; margin-top: 20px; margin-left: 160px;"
            alt="">
        <br>

        <div id="boxe">
            {% for mesg in get_flashed_messages() %}
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            {% if mesg == "This email is already in use" %}
            <div style="margin-left: 40px; margin-right: 60px;" class="alert alert-danger d-flex align-items-center"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{ mesg }}

                </div>
            </div>
            {% endif %}
            {% if mesg == "Invalid Email" %}
            <div style="margin-left: 40px; margin-right: 60px;" class="alert alert-danger d-flex align-items-center"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{ mesg }}

                </div>
            </div>
            {% endif %}
            {% if mesg == "Unknown Email, recommended to use Gmail, Yahoo, etc." %}
            <div style="margin-left: 40px; margin-right: 60px;" class="alert alert-danger d-flex align-items-center"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{ mesg }}

                </div>
            </div>
            {% endif %}
            {% if mesg == "Username or password is incorrect" %}
            <div style="margin-left: 40px; margin-right: 60px;" class="alert alert-danger d-flex align-items-center"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{ mesg }}

                </div>
            </div>
            {% endif %}
            {% if mesg == "This username is already taken" %}
            <div style="margin-left: 40px; margin-right: 60px;" class="alert alert-danger d-flex align-items-center"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{ mesg }}

                </div>
            </div>
            {% endif %}
            {% endfor %}
            <form action="" onsubmit="load()" method="POST">
                {{ user.csrf_token }}
                <h4 style="margin-left: 40px; margin-top: 5px;">Email</h4>
                {{ user.email2(placeholder="Enter Your Email", style="height: 60px; margin-left: 40px; width: 350px;
                font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding:
                10px; margin-top: 5px;") }}
                <h4 style="margin-left: 40px; margin-top: 10px;">Username</h4>
                {{ user.username2(placeholder="Choose An Username", style="height: 60px; margin-left: 40px; width:
                350px;
                font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding:
                10px; margin-top: 5px;") }}
                <br>
                <h4 style="margin-left: 40px; margin-top: 10px;">Password</h4>
                {{ user.password2(placeholder="Enter Password", style="height: 60px; margin-left: 40px; width: 350px;
                font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding:
                10px; margin-top: 5px;") }}
                <br>
                <div style="height: 15px;"></div>
                <a href="/login"
                    style="text-decoration: none; font-size: 17px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 40px; color: rgb(33, 33, 254);">Log
                    In Instead</a>
                <br>

                <input type="submit" class="btn btn-primary" id="input1"
                    style="margin-left: 40px; margin-top: 20px; text-align: center; width: 350px;" value="Sign Up" name="submit_button">
                <br>
                <button id="input2" class="btn btn-primary" type="button" disabled
                    style="margin-left: 40px; margin-top: 20px; text-align: center; width: 350px; display: none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <br>
            </form>
    </div>
        <br>
        <div id="boxee" style="margin: auto; margin-top: 50px; justify-content: center; display: none;  ">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h4 style="margin-left: 3px;">Checking For Requirements...</h4>
            <br>
            <br>

            </div>
            <br>
            <br>
        </div>
        <br>
    </div>
{% endif %}
    {% if num == 1 %}
<form action="" method="POST">
        <div class="login_box">
            <img src="static/icon_smth_idk-removebg-preview.png" style="height: 90px; margin-top: 20px; margin-left: 160px;"
            alt="">
            <br>
            <img src="icon_smth_idk-removebg-preview.png" style="height: 90px; margin-top: 20px; margin-left: 160px;" alt="">
            <br>
            <br>
            <h5 style="margin-left: 40px; margin-top: 5px;">A code was sent to your Email</h5>
            {{ user.csrf_token}}
            {{ user.coder(placeholder="Insert Code In Here", style="height: 60px; margin-left: 40px; width: 350px; font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 10px; margin-top: 5px;") }}
            <br>
            {% for mesg in get_flashed_messages() %}
                {% if mesg == "Incorrect Code" %}
                        <p style="color: red; margin: 3px; margin-left: 40px;">Incorrect Code</p>
                {% endif %}
            {% endfor %}
            <input type="submit" name="submit_button" class="btn btn-primary" style="margin-left: 40px; margin-top: 20px; text-align: center; width: 350px;" value="Verify Code">
            <br>
            <br>
            <div style="display: flex;">
                <hr style="margin-left: 40px; width: 160px;">
                <p5 style="margin-left: 5px; color: rgb(175, 175, 175);">or</p5>
                <hr style="margin-left: 5px; width: 160px;">
            </div>
            <input name="submit_button" type="submit" class="btn btn-outline-primary" style="margin-left: 40px; margin-top: 20px; text-align: center; width: 350px;" value="Resend Code">
            <br>
            <br>
            <br>
    </div>
    </form>

    {% endif %}
    <br>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">    </script>
</body>
<script src="static/function.js"></script>

</html>
